* {
	box-sizing: border-box;
}

body {
  margin-top: 45px;
  margin-left: 150px;
}

header {
	display: flex;
  } 

.logo{
  display: inline-block;
  margin-left: 30px; 
  width: 245px;
  height: 105px;
}
 
.search {
  position: relative;
  width: 600px;
}

.keyword {
  width: 100%;
  border: 1px solid #20A5E8;
  border-radius: 30px;
  padding: 15px 25px;
  margin-left: 10px; 
  margin-top:54px;
  font-size: 20px;
}

.keyword::placeholder {
  font-size: 20px;
}

#map {
  width: 1200px;
  height: 650px;
  margin-left: 60px;
}

.search-btn {
  margin: 0;
  border: none;
  position: absolute;
  width: 35px;
  height:35px;
  top: 5px;
  right: 0.5px;  
  margin-top: 58px;
  margin-right:10px;
  background: url("https://i.ibb.co/k6tmJVT/image.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}





.label {
  margin-bottom: 96px;
}

.label * {
  display: inline-block;vertical-align: top;
}

.label .center {
  display: inline-block;
  height: 55px;
  font-size: 12px;
  line-height: 24px;
  text-align: center; /* 중앙 정렬을 위한 속성 추가 */
  background-color: white;
   border-radius: 15px;
  padding: 5px;
   border: 1px solid black;
}

.caution{
  margin-top:-10px;
  margin-left:58px;
  color:red;
  font-weight: bold;
  font-family: "돋움", sans-serif; 
}
