* {
	box-sizing: border-box;
}

body {
  margin-top: 80px;
  margin-left: 150px;
}

header {
	display: flex;
  } 

.logo{
  display: inline-block;
  margin-left: 30px; 
  width: 200px;
  height: 80px;
}
 
.search {
  position: relative;
  width:480px;
}

.keyword {
    width: 100%;
    border: 1px solid #20A5E8;
    height:42px;
    border-radius: 30px;
    padding: 15px 20px;
    margin-left:5px; 
    margin-top: 46px;
    font-size: 14px;
}

.keyword::placeholder {
  font-size: 14px; /* 원하는 값으로 placeholder 글씨 크기를 설정합니다. 예를 들어, 16px로 설정합니다. */
}

/* .img-button {
  width: 50px;
  padding-top: 7px;
  padding-bottom: 4px;
} */

#map {
  width: 1000px;
  height: 600px;
  margin-left: 53px;
  margin-top:-15px;
}

.search-btn {
  margin: 0;
  border: none;
  position: absolute;
  width: 30px;
  height:30px;
  top: 5px;
  right: 0.5px;  
  margin-top:46px;
   margin-right:10px;
  background: url("https://i.ibb.co/k6tmJVT/image.png") no-repeat;
  background-size: contain;
  cursor: pointer;
}





